table,
td,
th {
    border: 1px solid black;
}

td {
    text-align: center;
}

.img1 {
    height: 20%;
    width: 20%;
}

dt {
    font-size: 1.2rem;
    font-weight: bold;
}

.nodots {
    text-decoration: none;
}