.formlabel {
    display: inline-block;
    width: 150px;
    text-align: right;
    padding: 5px;
    font-weight: bold;
}

.rule {
    height: 1px;
    width: 100vw-10px;
    margin: 5px auto;
    background-color: black;
}

.locale {
    display: inline-block;
    width: 150px;
    text-align: right;
    padding: 5px;
    font-weight: bold;
}


p {
    display: inline;
}

.formsection {
    display: flex;
    flex-flow: column wrap;
    padding: 5px 5px;
    border-bottom: 1px #000 solid;
}

.submit {
    padding-top: 10px;
}

.error {
    color: red;
    padding-left: 5px;
}